[submodule "vim/.vim/pack/plugins/start/vim-hybrid"]
	path = vim/.vim/pack/plugins/start/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "vim/.vim/pack/plugins/start/vim-airline"]
	path = vim/.vim/pack/plugins/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/.vim/pack/plugins/start/vim-airline-themes"]
	path = vim/.vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/.vim/pack/plugins/start/elm-vim"]
	path = vim/.vim/pack/plugins/start/elm-vim
	url = https://github.com/ElmCast/elm-vim
[submodule "vim/.vim/pack/plugins/start/ale"]
	path = vim/.vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "vim/.vim/pack/plugins/start/vim-surround"]
	path = vim/.vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/pack/plugins/start/php"]
	path = vim/.vim/pack/plugins/start/php
	url = https://github.com/StanAngeloff/php.vim
[submodule "vim/.vim/pack/plugins/start/easy-align"]
	path = vim/.vim/pack/plugins/start/easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim/.vim/pack/plugins/start/vim-jsx-pretty"]
	path = vim/.vim/pack/plugins/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
